@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Dancing+Script:wght@700&family=DynaPuff:wght@700&family=Kumbh+Sans:wght@400;700&family=Rubik:ital,wght@1,300&display=swap");

/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* width */
  --mobile-width: 23.4375rem;
  --desktop-width: 90rem;

  /* Primary colors */
  --clr-blue: hsl(246, 80%, 60%);
  --clr-light-red--work: hsl(15, 100%, 70%);
  --clr-soft-blue--play: hsl(195, 74%, 62%);
  --clr-light-red--study: hsl(348, 100%, 68%);
  --clr-lime-green--exercise: hsl(145, 58%, 55%);
  --clr-violet--social: hsl(264, 64%, 52%);
  --clr-soft-orange--self-care: hsl(43, 84%, 65%);

  /* Neutral colors */
  --clr-very-dark-blue: hsl(226, 43%, 10%);
  --clr-dark-blue: hsl(235, 46%, 20%);
  --clr-desaturated-blue: hsl(235, 45%, 61%);
  --clr-plate-blue: hsl(236, 100%, 87%);

  --clr-white: #fff;

  /* Typography */

  --fs-500: 1rem;
  --fs-400: 0.9375rem;
  --fs-300: 1rem;

  --ff-rubik: "Rubik", sans-serif;

  --fw-thinner: 300;
  --fw-normal: 400;
  --fw-bolder: 500;
}

@media (min-width: 35em) {
  :root {
    --fs-500: 1.25rem;
    --fs-400: 1rem;
  }
}

@media (min-width: 45em) {
  :root {
    /* font-sizes */
    --fs-500: 1.75rem;
    --fs-400: 1.125rem;
  }
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
p {
  font-weight: 400;
}

/* set up the body */
body {
  font-family: var(--ff-rubik);
  font-size: var(--fs-400);
  color: var(--clr-white);
  background-color: var(--clr-very-dark-blue);
  line-height: 1.5;
  min-height: 100vh;
  
  place-content: center;
}

/* make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* ------------------- */
/* Compontents         */
/* ------------------- */

.container {
  margin-block: 6rem;
}

.user {
  position: relative;
  height: 15rem;
  width: 90%;
  margin-inline: auto;
  border-radius: 1rem;
  margin-bottom: 2rem;
}

.user-time-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--clr-dark-blue);
  height: 15rem;
  border-radius: 1rem;
}

.user-info {
  padding: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  height: 10rem;
  border-radius: 1rem;
  background-color: var(--clr-blue);
}

.user-info img {
  width: 4rem;
  border: 2px solid var(--clr-white);
  border-radius: 50%;
  margin-inline: 1rem;

}

.cards-container {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  gap: 1rem;
}

.card {
  position: relative;
  width: 90%;
  margin-inline: auto;
  height: 14rem;
}

.color-card {
  position: absolute;
  top: 0;
  height: 13rem;
  width: 100%;
  border-radius: 1rem 1rem 2rem 2rem;
}

.info-card {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  padding-inline: 2rem;
  margin-block: 1rem;
  background-color: var(--clr-dark-blue);
  border-radius: 1rem;
  place-self: end center;
  width: 100%;
  height: 10rem;
}

.info-card--1st {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-card--times {
  display: flex;
  justify-content: space-between;
}

.info-card--current {
  font-size: 2.7rem;
}

.info-card--previous {
  font-size: 0.8rem;
  margin-top: 1.6rem;
}

.user--timeframe {
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 13.4rem;
}

.user--timeframe li {
  cursor: pointer;
  list-style: none;
  font-weight: var(--fw-bolder);
}

.user--timeframe li:not(.active) {
  color: var(--clr-plate-blue);
}

.active {
  color: var(--clr-white);
}

.Work {
  background-color: var(--clr-light-red--work);
  background-image: url(./images/icon-work.svg);
  background-repeat: no-repeat;
  background-position: right 1rem top -0.3rem;
}

.Play {
  background-color: var(--clr-soft-blue--play);
  background-image: url(./images/icon-play.svg);
  background-repeat: no-repeat;
  background-position: right 1rem top -0.3rem;
}

.Study {
  background-color: var(--clr-light-red--study);
  background-image: url(./images/icon-study.svg);
  background-repeat: no-repeat;
  background-position: right 1rem top -0.3rem;
}

.Exercise {
  background-color: var(--clr-lime-green--exercise);
  background-image: url(./images/icon-exercise.svg);
  background-repeat: no-repeat;
  background-position: right 1rem top -0.3rem;
}

.Social {
  background-color: var(--clr-violet--social);
  background-image: url(./images/icon-social.svg);
  background-repeat: no-repeat;
  background-position: right 1rem top -0.3rem;
}

.Self {
  background-color: var(--clr-soft-orange--self-care);
  background-image: url(./images/icon-self-care.svg);
  background-repeat: no-repeat;
  background-position: right 1rem top -0.3rem;
}

.btn-dots {
  background-image: url(./images/icon-ellipsis.svg);
  border: 0;
  background-color: var(--clr-dark-blue);
  aspect-ratio: 1;
  width: 2rem;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

@media (min-width: 66em) {
  body {
    display: grid;
  }

  .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'user card card card'
    'user card card card';
    margin: 2rem;
    padding: 0;
    margin-block: 0;
    height: 29rem;
  }

  .user {
    grid-area: user;
    width: 15rem;
    height: 28rem;
  }

  .user img {
    margin-inline: 0;
  }

  .user-info {
    height: 20rem;
    display: grid;
    padding: 2rem;
  }

  .user--timeframe {
    display: flex;
    gap: 0.4rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 2rem;
    
  }

  .cards-container {
    grid-area: card;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 2rem;
    row-gap: 0;
  }

  .card {
    width: 15rem;
  }

  .info-card {
    padding: 0;
    padding: 1rem 2rem 0;
    margin-block: 1rem;
  }

  .info-card:hover {
    background-color: var(--clr-desaturated-blue);
  }

  .info-card:hover button {
    background-color: var(--clr-desaturated-blue);
  }

  .info-card--times {
    display: grid;
    margin: 0;
    padding: 0;
  }

  .info-card--previous {
    padding: 0;
    margin: 0;
    
  }
}